@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Noto+Sans+JP&family=Noto+Sans:wght@400;700&display=swap');


//////////////////////////////// index.html ////////////////////////////////// 

/* ===============================================*/
/* #Concept
/*=============================================== */

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(217, 241, 255) 0%, rgb(78, 234, 255) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.concept__title {
  font-family: 'Noto Sans', sans-serif;
  @include f_around(3.2, 3, 300, 100);
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}


/* ===============================================*/
/*  max-width: 768px
/*=============================================== */
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .concept__title {
    @include f_around(2.4, 3, false, 200);
  }
}


/////////////////////////// 共通 /////////////////////////
.l-section__wrapper {
  padding-bottom: 30px;
}
.l-section__inner {
  padding: 0 5%;
  height: 100%;
}
.section__title {
  text-align: center;
  margin-bottom: 25px;
}

/* --------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .l-section__wrapper {
    padding-bottom: 130px;
  }
  .l-section__inner {
    min-width: 600px;
    margin: 0 auto;
    height: 100%;
  }
  .section__title {
    margin-bottom: 60px;
  }
}
/* --------------------------------------
レスポンシブ min-width: 1025px; 
----------------------------------------*/
@include mq-up($breakpoint: lg) {
  .l-section__wrapper {
    padding-bottom: 130px;
  }
  .l-section__inner {
    min-width: 1025px;
    margin: 0 auto;
    height: 100%;
  }
}


/////////////////////////////// contact.html ///////////////////////////////////
.contact__text__left {
  text-align: left;
}
.contact__form__text {
  line-height: 1.8;
  margin-bottom: 40px;
}

/* form
/*----------------------- */
.form__wrapper {
  padding-bottom: 130px;
}
.form-group {
  width: 50%;
}
.resize__none {
  resize: none
}
.form-label {
  @include f_around(1.4,1.8, 300, 100);
}
.contact__form {
  margin: 10px 0 20px;
}
.btn__contact {
  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 1.4rem;
}

/////////////////////////////// about.html ///////////////////////////////////
.l-thanks {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.thanks__wrapper {
  margin-bottom: 45px;
  text-align: center;
}
.link__home {
  text-align: center;
  > a {
    color: #858585;
    border-bottom: 1px solid #858585;
    &:hover {
      opacity: .5;
    }
  }
}
.thanks__main__title {
  margin-bottom: 30px;
}
.thanks__sub__title {
  margin-bottom: 20px;
}


.thanks__main__title {
  font-family:'Lato', sans-serif;
  @include f_around(3.2, 3.2, 400, 100);
}
.thanks__sub__title {
  @include f_around(1.3, 2.2, 400, 100);
}
.thanks__text {
  @include f_around(1, 1.8, 400, 150);
}


/* --------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .thanks__wrapper {
    margin-bottom: 45px;
  }

  .thanks__main__title {
    font-family:'Lato', sans-serif;
    @include f_around(4, 4, 400, 150);
  }
  .thanks__sub__title {
    @include f_around(1.8, 3, 400, 150);
  }
  .thanks__text {
    @include f_around(1.4, 2.5, 400, 100);
  }
  .link__home {
    @include f_around(1.4, 2.5, 400, 100);
  }
}

/* --------------------------------------
レスポンシブ max-width: 1025px; 
----------------------------------------*/
@include mq-up($breakpoint: lg) {
  .thanks__wrapper {
    margin-bottom: 70px;
  }
  .thanks__main__title {
    margin-bottom: 50px;
  }
  .thanks__sub__title {
    margin-bottom: 30px;
  }

  .thanks__main__title {
    font-family:'Lato', sans-serif;
    @include f_around(4, 4, 400, 150);
  }
  .thanks__sub__title {
    @include f_around(2.4, 3.5, 400, 150);
  }
  .thanks__text {
    @include f_around(2, 3.5, 400, 150);
  }
  .link__home {
    @include f_around(1.4, 3.5, 400, 150);
  }
}