@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Noto+Sans+JP&family=Noto+Sans:wght@400;700&display=swap');
/* # フォント
----------------------- */
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;

//////////////////////////////// index.html ////////////////////////////////// 

/* ===============================================*/
/* #Concept
/*=============================================== */
/* オープンアニメーション
/*----------------------------------------------- */
.start {
  background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
  
.open__text {
	position: fixed;
	left: 55%;
	top: 50%;
  transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  @include f_around(1.6, 3,false, 100);
}

.header__logo {
  font-family: 'Noto Sans', sans-serif;
  @include f_around(2.4, 3.6, 700, 200);
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(217, 241, 255) 0%, rgb(78, 234, 255) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.concept__title {
  font-family: 'Noto Sans', sans-serif;
  @include f_around(3.2, 3, 300, 100);
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/* ===============================================*/
/*  #about
/*=============================================== */
.about__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto;
}
.about__catch {
  margin-bottom: 70px;
}
.about__icon {
  max-width: 200px;
}
.about__title {
  float: left;
  width: 30%;
}
.about__text {
  float: right;
  width: 70%;
}
.about__title,
.about__text {
  margin-bottom: 10px
}
.about__inner {
  width: 60%;
  display: flex;
  flex-direction: column
}
.about__name {
  margin: 20px 0 15px
}

.about__catch,
.about__name,
.about__title,
.about__text {
  font-family: '游ゴシック', 'Yu Gothic', YuGothic;;
}
.about__catch {
  @include f_around(1.6, 3.2, 300, 500);
}
.about__title,
.about__text,
.about__name {
  @include f_around(1.4, 1.9, 300, 150);
} 

/* ===============================================*/
/*  #service
/*=============================================== */
.service__wrapper {
  margin-right: -40px;
}
.service__item {
  box-sizing: content-box;
  margin-right: 40px;
}
.service__title {
  padding-bottom: 16px;
}
.service__sub__title {
  margin-bottom: 45px;
}
.service__title,
.service__sub__title,
.service__icon {
  text-align: center;
}
.service__item {
  max-width: calc((100% / 3) - 40px);
}
.service__icon {
  margin-bottom: 40px;
  > img {
    max-width: 98px;
    height: 102px;
  } 
}

/* Font
/*----------------------- */
.service__title,
.service__sub__title {
  font-family: '游ゴシック', 'Yu Gothic', YuGothic;
}
.service__title {
  @include f_around(2.5, 2.5, 400, 100);
}
.service__sub__title {
  @include f_around(1.4, 1.4, 400, 240);
  color: #858585;
}
.service__text {
  @include f_around(1.6, 2, 300, 170);
}

/* ===============================================*/
/*  #works
/*=============================================== */
.works__list {
  display: grid;
  gap: 2vw;
  grid-template-columns: 1fr 1fr 1fr;
}
.works__item {
  // max-width: 280px;
  max-width: calc((100% / 3)-2vw);
  > img {
    object-fit: cover;
  }
}

/* ===============================================*/
/*  #contact
/*=============================================== */
.contact__item {
  max-width: 280px;
  text-align: center;
  > a:hover {
    display: block;
    opacity: .5;
  }
}
.contact__title {
  margin-bottom: 10px;
}
.contact__sub__title {
  margin-bottom: 20px;
}
.contact__img {
  width: 50px;
  margin: 0 auto 20px;
}
.contact__text {
  margin-top: 50px;
  text-align: center
}


.contact__title {
  @include f_around(2, 3, 400, 150);
}
.contact__sub__title {
  color: #858585;
}
.contact__sub__title,
.contact__text {
  font-family: '游ゴシック', 'Yu Gothic', YuGothic;
  @include f_around(1.4, 2, 300, 250);
}


/* ===============================================*/
/*  max-width: 768px
/*=============================================== */
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .concept__title {
    @include f_around(1.5, 3, false, 200);
  }
}


/////////////////////////////// contact.html ///////////////////////////////////
.contact__text__left {
  text-align: left;
}
.form-group {
  width: 50%;
}