@use "../../Global";
.btn-top {
  width: 30px;
  margin: 0 auto;
}
/* -------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include Global.mq-up($breakpoint: md) {
  .to__top {
    padding-bottom: 30px;
  }
  .btn-top {
    width: 30px;
    margin: 0 auto;
    &:hover {
      opacity: .5;
    }
  }
}
