@use "../../Global";
.service__flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* -------------------------------------
レスポンシブ min-width: 638px; 
----------------------------------------*/
@include Global.mq-up($breakpoint: md) {
  .service__flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }    
}

