/* ===============================================*/
/*  #service
/*=============================================== */
.service__item {
  box-sizing: content-box;
  margin-bottom: 20px;
}
.service__title {
  padding-bottom: 10px;
}
.service__sub__title {
  margin-bottom: 10px;
}
.service__title,
.service__sub__title,
.service__icon {
  text-align: center;
}
.service__text {
  text-align: justify;
}
.service__icon {
  margin-bottom: 10px;
  > img {
    max-width: 98px;
    height: 102px;
  } 
}
/* Font
  /*----------------------- */
  .service__title,
  .service__sub__title {
    font-family: '游ゴシック', 'Yu Gothic', YuGothic;
  }
  .service__title {
    @include f_around(2.5, 2.5, 400, 100);
  }
  .service__sub__title {
    @include f_around(1.4, 1.4, 400, 240);
    color: #858585;
  }
  .service__text {
    @include f_around(1.4, 2, 300, 170);
  }
  
  /* -------------------------------------
  レスポンシブ min-width: 600px; 
  ----------------------------------------*/
  @include mq-up($breakpoint: md) {
    .service__wrapper {
      margin-right: -20px;
    }
    .service__item {
      box-sizing: content-box;
      margin-right: 20px;
    }
    .service__title {
      padding-bottom: 16px;
    }
    .service__sub__title {
      margin-bottom: 45px;
    }
    .service__title,
    .service__sub__title,
    .service__icon {
      text-align: center;
    }
    .service__item {
      max-width: calc((100% / 3) - 20px);
    }
    .service__icon {
      margin-bottom: 40px;
      > img {
        max-width: 98px;
        height: 102px;
      } 
    }

    .service__text {
      @include f_around(1.6, 2, 300, 170);
    }
  }