
/* ===============================================*/
/* #Concept
/*=============================================== */

.header {
  position:relative;
  text-align:center;
  // background: linear-gradient(60deg, rgb(217, 241, 255) 0%, rgb(78, 234, 255) 100%);
  background: radial-gradient(#4eeaff 30%, #fff) fixed;
  color:#fff;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.concept__title {
  font-family: 'Noto Sans', sans-serif;
  @include f_around(2.2, 3.7, 300, 100);
  color: #fff;
  writing-mode: vertical-rl;
  > span {
    display: block;
  }
}

.inner-header {
  height:65vh;
  width:90%;
  margin: 0 auto;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.btn_rich {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  margin-top: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 5.5rem;
  color: #858585;
  > a {
    display: block;
    color: #858585;
  }
}

.btn_border_shadow--radius {
  border-radius: 100vh;
}
.btn_border_shadow {
  padding: calc(1rem - 12px) 1rem 0.5rem;
  background: #fff;
}

  .btn_border_shadow:before {
  position: absolute;
  top: -4px;
  left: -3px;
  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #cccccc;
  border-radius: 0.5rem;
}
.btn_border_shadow--radius:before {
  border-radius: 100vh;
}
.btn_border_shadow {
  padding: calc(1rem - 6px) 1rem;
}

.btn_border_shadow:hover:before {
  top: 0;
  left: 0;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/* ===============================================*/
/*  min-width: 600px
/*=============================================== */
/*Shrinking for mobile*/
@include mq-up($breakpoint: md) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .btn_border_shadow {
    padding: calc(1.5rem - 12px) 3rem 1.5rem;
  }  
  .btn_border_shadow:before {
    position: absolute;
    top: -6px;
    left: -6px;
  }
  .btn_border_shadow:hover {
    padding: calc(1.5rem - 6px) 3rem;
  }
  
  .concept__title {
    @include f_around(4.6, 5.8, 500, 200);
    writing-mode: unset;
    max-width: 750px;
    > span {
      display: inline-block;
    }
  }
  .wave_text {
    display: inline-block;
    > span {
      display: inline-block;
    }
  }
}
