/* ===============================================*/
/*  #works
/*=============================================== */

.works__list {
  display: none;
}

.slider{
  margin: 0 auto;
  width: 80%;
}
.slider img{
  height: 250px;
  width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}
.noimage {
  text-align: center;
  @include f_around(2.5, 3, bold, 1.5);
}


/* -------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .slider {
    display: none;
  }
  .slick-slide img {
    display: none;
  }
  .works__list {
    display: grid;
    gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .works__item {
    height: 175px;
    > img {
      object-fit: cover;
      height: 100%;
    }
    > a {
      display: block;
      height: 100%;
      > img {
        object-fit: cover;
        height: 100%;
      }
    }
    > a:hover {
      opacity: .5;
    }
  }
}