@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap');
/* # フォント
----------------------- */
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;

/* ------------------------------
SP画面
------------------------------- */ 
.l-header__wrapper {
  height: 140px;
  background-color: #ffffff;
  padding: 10px 2vw;
}
.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
}
.header__logo {
  > a {
    text-decoration: none;
    color: #333333;
    &:hover {
      opacity: .5;
    }
  }
}
/*** SNSアイコン ***/ 
.sns__wrapper {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.insta__item,
.tw__item {
  width: 30px;
  height: auto;
  margin: 0 15px;
  > a {
    display: block;
  }
}
.header__nav {
  display: none;
}

/* スマホ画面 フォント
------------------------------------------ */
.header__logo {
  font-family: 'Noto Sans', sans-serif;
  @include f_around(2.4, 3, 700, 50);
}


/* --------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
/* ------------------------------
タブレット画面
------------------------------- */ 
  .l-header__wrapper {
    height: 270px;
    background-color: #ffffff;
    padding: 10px 2vw;
  }
  .header__inner {
    position: relative;
    max-width: 920px;
    margin: 0 auto;
    height: 100%;
  }
  .header__logo {
    position: absolute;
    top: 30%;
  }
  .sns__wrapper {
    position: absolute;
    left: 80%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }
  .insta__item,
  .tw__item {
    width: 22px;
    height: auto;
    margin: 0 10px;
    > a {
      display: block;
    }
  }
  .header__nav {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 0%;
  }
  .header__list {
    display: flex;
    align-items: center;
  }
  .header__item {
    margin-left: 2vw;
    @include f_around(1.6, 2.4, bold, 5);
    >a {
      color: #333333;
      padding: 5px;
      &:hover {
        opacity: .5;
        cursor: pointer;
      }
    }
  }

  /* タブレット画面用フォント */ 
  .header__logo {
    font-family: 'Noto Sans', sans-serif;
    @include f_around(2.4, 3.6, 700, 200);
  }
}