/* オープンアニメーション
/*----------------------------------------------- */
.start {
  background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
  
.open__text {
	position: fixed;
	left: 50%;
	top: 50%;
  transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  @include f_around(1.6, 3,false, 100);
}

/* -------------------------------------
レスポンシブ min-width: 600px; 
----------------------------------------*/
@include mq-up($breakpoint: md) {
  .open__text {
    position: fixed;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
  }
}